name: Packaging
# Test the packaging workflow on push
on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
        default: unnamed
      sign_packages:
        description: "Pakete signieren"
        required: false
        default: false
        type: boolean
      build_rpm:
        required: true
        type: boolean
        default: false
      build_deb:
        required: true
        type: boolean
        default: false
      deb_matrix:
        required: false
        type: string
        default: '{"container":["debian:stable"]}'
      rpm_matrix:
        required: false
        type: string
        default: '{"container":["rockylinux:9"]}'
  #push

permissions:
  checks: write
  contents: write

env:
  RELEASE: unstable
  PROJECT_NAME: ${{ inputs.project_name }}
  BUILD_RPM: ${{ inputs.build_rpm }}
  BUILD_DEB: ${{ inputs.build_deb }}

jobs:
  gpg-test:
    if: ${{ inputs.sign_packages }}
    runs-on: ubuntu-latest
    steps:
      - name: Debug secret length
        run: |
          echo "Key length: ${#GPG_PRIVATE_KEY}"
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Import GPG Key
        run: |
          gpg "${GPG_PRIVATE_KEY}" <<EOF
          ${GPG_PRIVATE_KEY}
          EOF
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Test signing
        run: |
          echo "hello world" > test.txt
          gpg --batch --yes --clearsign test.txt
  build-package:
    if: ${{ inputs.build_deb }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir

      - name: Get Time
        id: get-time
        run: |
          echo "datetime=$(/bin/date --iso-8601=seconds)" >> $GITHUB_OUTPUT
        shell: bash

      - uses: actions/cache@v4
        with:
          path: .ccache
          key: ${{ runner.os }}-${{ env.RELEASE }}-ccache-${{ steps.get-time.outputs.datetime }}
          restore-keys: |
            ${{ runner.os }}-${{ env.RELEASE }}-ccache-

      - name: Build Package
        uses: docker://registry.salsa.debian.org/salsa-ci-team/pipeline/gbp:latest
        with:
          entrypoint: /bin/bash
          args: source_dir/.scripts/buildpkg.sh

      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-${{ env.RELEASE }}-debpkg
          path: debian/output/*
          retention-days: 2

  run-lintian:
    if: ${{ inputs.build_deb }}
    needs: [ build-package ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir

      - name: Download all Debian packaging workflow run artifacts
        uses: actions/download-artifact@v4

      - name: Run Lintian on ${{ env.RELEASE }}
        uses: docker://registry.salsa.debian.org/salsa-ci-team/pipeline/lintian:testing
        with:
          entrypoint: /bin/bash
          args: source_dir/.scripts/runlintian.sh

      - name: Publish Lintian Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: lintian/*.xml
          report_individual_runs: true

      - name: Upload Lintian results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ runner.os }}-${{ env.RELEASE }}-lintian
          path: lintian
          retention-days: 2

  test-dkms:
    if: ${{ inputs.build_deb }}
    needs: [ build-package ]
    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(inputs.deb_matrix) }}

    container:
      image: ${{ matrix.container }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir

      - name: Download all Debian packaging workflow run artifacts
        uses: actions/download-artifact@v4

      - name: Install DKMS
        run: apt-get update && apt-get install -y dkms

      - name: Install package and compile on ${{ matrix.container }}
        run: ./source_dir/.scripts/testdkms.sh

  create-aptly-repo:
    if: ${{ inputs.build_deb }}
    needs: [ build-package ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir

      - name: Download all Debian packaging workflow run artifacts
        uses: actions/download-artifact@v4

      - name: Prepare aptly repo
        uses: docker://registry.salsa.debian.org/salsa-ci-team/pipeline/aptly
        with:
          entrypoint: /bin/bash
          args: source_dir/.scripts/prepaptly.sh

      - name: Upload Repo
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-${{ env.RELEASE }}-repo
          path: debrepo.tar.gz
          retention-days: 2

  build-rpm:
    if: ${{ inputs.build_rpm }}
    runs-on: ubuntu-latest

    strategy:
      matrix: ${{ fromJson(inputs.rpm_matrix) }}

    container:
      image: ${{ matrix.container }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir
      
      - name: Install EPEL
        run: dnf install -y epel-release
      
      - name: Install Build Tools
        run: dnf install -y gcc make rpm-build rpmdevtools dkms dnf-utils kernel-abi-stablelists kernel-rpm-macros udev
      
      - name: Install createrepo
        run: dnf install -y createrepo_c

      - name: Build RPM on ${{ matrix.container }}
        run: ./source_dir/.scripts/buildrpm.sh
      

      - name: Create safe artifact name
        id: safename
        run: |
          SAFE_NAME=$(echo "${{ matrix.container }}" | tr ':' '-')
          echo "safe_name=$SAFE_NAME" >> $GITHUB_OUTPUT

      - name: Upload RPM Repository
        uses: actions/upload-artifact@v4
        with:
          name: rpm-repo-${{ steps.safename.outputs.safe_name }}
          path: rpm-artifacts/
    
  test-rpm:
    if: ${{ inputs.build_rpm }}
    needs: [ build-rpm ]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(inputs.rpm_matrix) }}
      
    container:
      image: ${{ matrix.container }}
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: source_dir

      - name: Create safe artifact name
        id: safename
        run: |
          SAFE_NAME=$(echo "${{ matrix.container }}" | tr ':' '-')
          echo "safe_name=$SAFE_NAME" >> $GITHUB_OUTPUT

      - name: Download RPM Repository
        uses: actions/download-artifact@v4
        with:
          name: rpm-repo-${{ steps.safename.outputs.safe_name }}
          path: pkgs/

      - name: Install EPEL
        run: dnf install -y epel-release

      - name: Install DKMS
        run: dnf install -y dkms
  
      - name: Install package and compile on ${{ matrix.container }}
        run: ./source_dir/.scripts/testrpm.sh


  deploy-repos-and-data:
    if: ${{ inputs.build_deb || inputs.build_rpm }}
    needs:
      - run-lintian
      - create-aptly-repo
      - test-rpm
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      
      - name: Publish APT Repo
        if: ${{ inputs.build_deb }}
        run: |
          mkdir -p publish/apt
          for TAR in *-repo/*.tar.*; do
            tar xf $TAR -C publish/apt/
          done
      
      - name: Publish Lintian Reports
        if: ${{ inputs.build_deb }}
        run: |
          mkdir -p publish/lintian
          echo '<!DOCTYPE html><html><body>' > publish/lintian/index.html
          for LINTIAN_DIR in *-lintian; do
            cp -ra ${LINTIAN_DIR} publish/lintian/
            LINTIAN_HTML=$(ls -1 ${LINTIAN_DIR}/*.html)
            echo "<a href=\"${LINTIAN_HTML}\">${LINTIAN_DIR}</a><br />" >> publish/lintian/index.html
          done
          echo '</body></html>' >> publish/lintian/index.html
      
      - name: Publish RPM Repositories
        if: ${{ inputs.build_rpm }}
        run: |
          mkdir -p publish/rpm
          for RPMDIR in rpm-repo-*; do
            DISTRO=${RPMDIR#rpm-repo-}
            mkdir -p publish/rpm/${DISTRO}
            cp -ra ${RPMDIR}/* publish/rpm/${DISTRO}/
          done
      
      - name: Create Root index.html
        run: |
          cat <<EOF > publish/index.html
          <!DOCTYPE html>
          <html>
            <head>
              <title>${{ env.PROJECT_NAME }} Packages</title>
            </head>
            <body>
              <h1>${{ env.PROJECT_NAME }} Package Repositories</h1>
              <ul>
                $( [ "${{ inputs.build_deb }}" = "true" ] && echo '<li><a href="apt/">Debian APT Repo</a></li>' )
                $( [ "${{ inputs.build_rpm }}" = "true" ] && echo '<li><a href="rpm/">RPM DNF Repo</a></li>' )
                $( [ "${{ inputs.build_deb }}" = "true" ] && echo '<li><a href="lintian/">Lintian Reports</a></li>' )
              </ul>
            </body>
          </html>
          EOF
        
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./publish
          force_orphan: true
